<p class="p_tieude" style="font-size: 15px; font-family: Roboto; white-space: normal; word-spacing: 0px; text-transform: none; font-weight: 400; color: rgb(0,0,0); font-style: normal; orphans: 2; widows: 2; margin: 0in; letter-spacing: normal; line-height: 18pt; text-indent: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; font-variant-ligatures: normal; font-variant-caps: normal">
  <strong>
    <span class="header1" style="font-size: 17px; font-family: Roboto; color: red">{{ tienNop.Phong_GD }}</span>
  </strong>
</p>
<p class="p_tieude" style="font-size: 15px; font-family: Roboto; white-space: normal; word-spacing: 0px; text-transform: none; font-weight: 400; color: rgb(0,0,0); font-style: normal; orphans: 2; widows: 2; margin: 0in; letter-spacing: normal; line-height: 18pt; text-indent: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; font-variant-ligatures: normal; font-variant-caps: normal">
  <strong>
    <span class="header1" style="font-size: 17px; font-family: Roboto; color: red">{{ tienNop.TenTruong }}</span>
  </strong>
</p>
<p class="p_tieude_center" style="font-size: 15px; font-family: Roboto, sans-serif; white-space: normal; word-spacing: 0px; text-transform: none; font-weight: 400; color: rgb(0,0,0); font-style: normal; text-align: center; orphans: 2; widows: 2; margin: 0in; letter-spacing: normal; line-height: 18pt; text-indent: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; font-variant-ligatures: normal; font-variant-caps: normal">
  <strong>
    <span style="font-size: 19px; font-family: Roboto"></span>
  </strong>&nbsp;
</p>
<p class="p_tieude_center" style="font-size: 15px; font-family: Roboto, sans-serif; white-space: normal; word-spacing: 0px; text-transform: none; font-weight: 400; color: rgb(0,0,0); font-style: normal; text-align: center; orphans: 2; widows: 2; margin: 0in; letter-spacing: normal; line-height: 18pt; text-indent: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; font-variant-ligatures: normal; font-variant-caps: normal">
  <strong>
    <span style="font-size: 19px; font-family: Roboto">{{ tienNop.Thong_bao }}</span>
  </strong>
</p>
<p class="p_tieude_center" style="font-size: 15px; font-family: Roboto, sans-serif; white-space: normal; word-spacing: 0px; text-transform: none; font-weight: 400; color: rgb(0,0,0); font-style: normal; text-align: center; orphans: 2; widows: 2; margin: 0in; letter-spacing: normal; line-height: 18pt; text-indent: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; font-variant-ligatures: normal; font-variant-caps: normal">
  <span style="font-size: 19px; font-family: Roboto">{{ tienNop.Ky_nop }}</span>
</p>
<p class="p_tieude_center" style="font-size: 15px; font-family: Roboto, sans-serif; white-space: normal; word-spacing: 0px; text-transform: none; font-weight: 400; color: rgb(0,0,0); font-style: normal; text-align: center; orphans: 2; widows: 2; margin: 0in; letter-spacing: normal; line-height: 18pt; text-indent: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; font-variant-ligatures: normal; font-variant-caps: normal">
  <span style="font-size: 19px; font-family: Roboto"></span>&nbsp;
</p>
<p class="p_tieude" style="font-size: 15px; font-family: Roboto; white-space: normal; word-spacing: 0px; text-transform: none; font-weight: 400; color: rgb(0,0,0); font-style: normal; orphans: 2; widows: 2; margin: 0in; letter-spacing: normal; line-height: 18pt; text-indent: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; font-variant-ligatures: normal; font-variant-caps: normal">
  <span class="chu" style="font-size: 19px; font-family: Roboto; color: black">Kính gửi: Quý phụ huynh,</span>
</p>
<p style="font-size: 15px; font-family: Roboto; white-space: normal; word-spacing: 0px; text-transform: none; font-weight: 400; color: rgb(0,0,0); font-style: normal; text-align: justify; orphans: 2; widows: 2; margin: 0in; letter-spacing: normal; line-height: 18pt; text-indent: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; font-variant-ligatures: normal; font-variant-caps: normal">
  <span class="chu" style="font-size: 19px; font-family: Roboto; color: black">Họ và tên học sinh:</span>&nbsp; <strong>
    <strong>
      <span style="font-size: 19px; font-family: Roboto; color: red">{{ tienNop.Hoten_HocSinh }}</span>&nbsp; </strong>
    <span class="chu" style="font-size: 19px; font-family: Roboto; color: black">Lớp&nbsp; <strong>:&nbsp;</strong>&nbsp; </span>
    <strong>
      <span style="font-size: 19px; font-family: Roboto; color: red">{{ tienNop.Lop }}</span>&nbsp; </strong>
    <strong>
      <span class="chu" style="font-size: 19px; font-family: Roboto; color: black">&nbsp; &nbsp; &nbsp;&nbsp;</span>&nbsp; </strong>
    <span class="chu" style="font-size: 19px; font-family: Roboto; color: black">Mã học sinh&nbsp; <strong>:&nbsp;</strong>&nbsp; </span>
    <strong>
      <span style="font-size: 19px; font-family: Roboto; color: red">{{ tienNop.ma_hs }}</span>
    </strong>
  </strong>
</p>
<strong style='font-size: medium; font-family: "Roboto"; white-space: normal; word-spacing: 0px; text-transform: none; color: rgb(0,0,0); font-style: normal; orphans: 2; widows: 2; letter-spacing: normal; text-indent: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; font-variant-ligatures: normal; font-variant-caps: normal'>
  <table class="mainTable" style="border-top: rgb(179,173,173) 1px solid; border-right: rgb(179,173,173) 1px solid; border-collapse: collapse; border-bottom: rgb(179,173,173) 1px solid; padding-bottom: 1px; padding-top: 1px; padding-left: 1px; border-left: rgb(179,173,173) 1px solid; padding-right: 1px" width="700">
    <tbody>
      <tr>
        <td style="border-top: rgb(179,173,173) 1px solid; border-right: rgb(179,173,173) 1px solid; background: rgb(255,255,255); border-bottom: rgb(179,173,173) 1px solid; color: rgb(49,48,48); padding-bottom: 1px; text-align: center; padding-top: 1px; padding-left: 1px; border-left: rgb(179,173,173) 1px solid; padding-right: 1px" height="41">&nbsp; Lựa chọn 1: thanh toán TỪNG KHOẢN THU (quét theo từng mã QRcode bên dưới)</td>
        <td style="border-top: rgb(179,173,173) 1px solid; border-right: rgb(179,173,173) 1px solid; background: rgb(255,255,255); border-bottom: rgb(179,173,173) 1px solid; color: rgb(49,48,48); padding-bottom: 1px; text-align: center; padding-top: 1px; padding-left: 1px; border-left: rgb(179,173,173) 1px solid; padding-right: 1px">&nbsp;Lựa chọn 2: thanh toán TỔNG SỐ TIỀN (quét 01 mã QRcode bên dưới)</td>
      </tr>
      <tr>
        <td style="border-top: rgb(179,173,173) 1px solid; border-right: rgb(179,173,173) 1px solid; background: rgb(255,255,255); border-bottom: rgb(179,173,173) 1px solid; color: rgb(49,48,48); padding-bottom: 1px; text-align: center; padding-top: 1px; padding-left: 1px; border-left: rgb(179,173,173) 1px solid; padding-right: 1px" height="350">
          <table class="demTable" style="border-top: rgb(179,173,173) 1px solid; height: 733px; border-right: rgb(179,173,173) 1px solid; width: 387px; border-collapse: collapse; border-bottom: rgb(179,173,173) 1px solid; padding-bottom: 1px; padding-top: 1px; padding-left: 1px; border-left: rgb(179,173,173) 1px solid; padding-right: 1px">
            <tbody>
              <tr>
                <th style="border-top: rgb(179,173,173) 1px solid; border-right: rgb(179,173,173) 1px solid; background: rgb(240,240,240); border-bottom: rgb(179,173,173) 1px solid; color: rgb(49,48,48); padding-bottom: 1px; padding-top: 1px; padding-left: 1px; border-left: rgb(179,173,173) 1px solid; padding-right: 1px" height="30" scope="col">STT</th>
                <th style="border-top: rgb(179,173,173) 1px solid; border-right: rgb(179,173,173) 1px solid; background: rgb(240,240,240); border-bottom: rgb(179,173,173) 1px solid; color: rgb(49,48,48); padding-bottom: 1px; padding-top: 1px; padding-left: 1px; border-left: rgb(179,173,173) 1px solid; padding-right: 1px" scope="col">Loại Thu</th>
                <th style="border-top: rgb(179,173,173) 1px solid; border-right: rgb(179,173,173) 1px solid; background: rgb(240,240,240); border-bottom: rgb(179,173,173) 1px solid; color: rgb(49,48,48); padding-bottom: 1px; padding-top: 1px; padding-left: 1px; border-left: rgb(179,173,173) 1px solid; padding-right: 1px" scope="col">Mức thu</th>
                <th style="border-top: rgb(179,173,173) 1px solid; border-right: rgb(179,173,173) 1px solid; background: rgb(240,240,240); border-bottom: rgb(179,173,173) 1px solid; color: rgb(49,48,48); padding-bottom: 1px; padding-top: 1px; padding-left: 1px; border-left: rgb(179,173,173) 1px solid; padding-right: 1px" scope="col">QR</th>
              </tr>

                {% for item in tieumuc %}
              <tr>
                <td style="border-top: rgb(179,173,173) 1px solid; border-right: rgb(179,173,173) 1px solid; background: rgb(255,255,255); border-bottom: rgb(179,173,173) 1px solid; color: rgb(49,48,48); padding-bottom: 1px; text-align: center; padding-top: 1px; padding-left: 1px; border-left: rgb(179,173,173) 1px solid; padding-right: 1px">{{ item.STT }}</td>
                <td style="border-top: rgb(179,173,173) 1px solid; border-right: rgb(179,173,173) 1px solid; background: rgb(255,255,255); border-bottom: rgb(179,173,173) 1px solid; color: rgb(49,48,48); padding-bottom: 1px; text-align: center; padding-top: 1px; padding-left: 1px; border-left: rgb(179,173,173) 1px solid; padding-right: 1px">{{ item.Muc }}</td>
                <td style="border-top: rgb(179,173,173) 1px solid; border-right: rgb(179,173,173) 1px solid; background: rgb(255,255,255); border-bottom: rgb(179,173,173) 1px solid; color: rgb(49,48,48); padding-bottom: 1px; text-align: center; padding-top: 1px; padding-left: 1px; border-left: rgb(179,173,173) 1px solid; padding-right: 1px">{{ item.sotien | format_number:"N0" }}</td>
                <td style="border-top: rgb(179,173,173) 1px solid; border-right: rgb(179,173,173) 1px solid; background: rgb(255,255,255); border-bottom: rgb(179,173,173) 1px solid; color: rgb(49,48,48); padding-bottom: 1px; text-align: center; padding-top: 1px; padding-left: 1px; border-left: rgb(179,173,173) 1px solid; padding-right: 1px">
                 <img style="width: 83pt; height: 83pt;" src="{{ item.QRcode }}" alt="image" />
                </td>
              </tr>
                	 {% endfor %} 

              <tr>
                <td style="border-top: rgb(179,173,173) 1px solid; border-right: rgb(179,173,173) 1px solid; background: rgb(255,255,255); border-bottom: rgb(179,173,173) 1px solid; color: rgb(49,48,48); padding-bottom: 1px; text-align: center; padding-top: 1px; padding-left: 1px; border-left: rgb(179,173,173) 1px solid; padding-right: 1px" colspan="2">Tổng Cộng <br>
                </td>
                <td style="border-top: rgb(179,173,173) 1px solid; border-right: rgb(179,173,173) 1px solid; background: rgb(255,255,255); border-bottom: rgb(179,173,173) 1px solid; color: rgb(49,48,48); padding-bottom: 1px; text-align: center; padding-top: 1px; padding-left: 1px; border-left: rgb(179,173,173) 1px solid; padding-right: 1px">
                  <span style="color: rgb(255,0,0)">
                    <strong>{{ tienNop.Tong_So_Tien | format_number:"N0" }}</strong>
                  </span>
                </td>
                <td style="border-top: rgb(179,173,173) 1px solid; border-right: rgb(179,173,173) 1px solid; background: rgb(255,255,255); border-bottom: rgb(179,173,173) 1px solid; color: rgb(49,48,48); padding-bottom: 1px; text-align: center; padding-top: 1px; padding-left: 1px; border-left: rgb(179,173,173) 1px solid; padding-right: 1px"></td>
              </tr>
            </tbody>
          </table>
        </td>
        <td style="border-top: rgb(179,173,173) 1px solid; border-right: rgb(179,173,173) 1px solid; background: rgb(255,255,255); border-bottom: rgb(179,173,173) 1px solid; color: rgb(49,48,48); padding-bottom: 1px; text-align: center; padding-top: 1px; padding-left: 1px; border-left: rgb(179,173,173) 1px solid; padding-right: 1px" height="350">
          <p>
           <img style="width: 141pt; height: 141pt;" src="{{ qrcode_full }}" alt="image">
            <br>
          </p>
          <p>Tổng Cộng:&nbsp; <span style="color: rgb(255,0,0)">
              <strong>{{ tienNop.Tong_So_Tien | format_number:"N0" }}</strong>
            </span>
          </p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>
            <span style="color: rgb(255,0,0)">
              <strong>
                <br>
              </strong>
            </span>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  <p style="font-size: 15px; font-family: Roboto; text-align: justify; margin: 0in 0in 8pt; line-height: 20pt">
    <em>
      <span class="span_t" style="font-size: 17px; font-family: Roboto">+&nbsp; <strong>
          <u>Lưu ý:</u>&nbsp; </strong>Quý phụ huynh dùng app các Ngân hàng (như Smartbanking của BIDV, VCB…) hoặc các ví điện tử (như Zalopay,…) để lựa chọn 1 trong 2 cách quét QRcode trên để thanh toán tiền học cho con , vui lòng không điều chỉnh nội dung chuyển tiền </span>
    </em>
  </p>
</strong>
<p>&nbsp;</p>